*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.comingbackground{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('img/comingbackground.png');
    background-size: cover;
    background-position: center;
}
.comingcontainer{
    width: 80% !important;
    margin: auto;
}
.cominglogo{
    padding-bottom: 100px;
    padding-top: 10px;
    width: 15%;
}
.comingheader{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: #000000;
}
.comingsubheader{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 40px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}
.comingwords{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: small;
    color: #FFFFFF;
    width: 70%;
}
.comingtext{
    justify-content: center;
    padding-top: 40px;
}
.comingnotify{
    color: white;
    font-size: small;
    background-color: #032b59;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 7px;
}
.cominginput{
    border-radius: 7px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.comingroup{
    padding-bottom: 150px;
    padding-top: 30px;
    width: 80%;
}
.comingcopy{
    font-size: small;
    color: #FFFFFF;
    padding-top: 10px;
}
.come1{
    width: 7%;
    position: absolute;
    right: 40px;
}
.come2{
    width: 7%;
    position: absolute;
    top: 220px;
    right: 100px;
}
.come3{
    width: 7%;
    position: absolute;
    top: 20px;
}
.come4{
    width: 7%;
    position: absolute;
    bottom: 300px;
    left: 370px;
}


@media (min-width: 0px) and (max-width: 576px) {
    .cominglogo{
        padding-bottom: 50px;
        padding-top: 10px;
        width: 80%;
        padding-left: 55px;
    }
    .comingwords{
        width: 100%;
    }
    .comingcopy{
        font-size: small;
        padding-left: 0px !important;
        text-align: center !important;
    }
    .comingmedia{
        font-size: small;
        padding-right: 40px;
    }
    .comingroup{
       width: 100% !important;
       padding-bottom: 100px !important;
    }
    .comingsubheader{
        font-size: 20px;
        line-height: 30px;
    } 
    .comingheader{
        font-size: 20px;
        padding-top: 100px;
    }
    .come1{
        position: fixed;
        top: 200px;
        right: 160px;
    }
    .come2{
        display: none;
    }
    .come3{
        display: none;
    }
    .come4{
        display: none;
    }
    
}
@media (min-width: 576px) and (max-width: 767px) {
    .cominglogo{
        padding-bottom: 50px;
        padding-top: 10px;
        width: 80%;
        padding-left: 55px;
    }
    .comingwords{
        width: 100%;
        font-size: large;
    }
    .comingcopy{
        font-size: small;
        padding-left: 0px !important;
        text-align: center !important;
    }
    .comingmedia{
        font-size: small;
        padding-right: 40px;
    }
    .comingroup{
       width: 100% !important;
       padding-bottom: 100px !important;
    }
    .comingsubheader{
        font-size: 40px;
    } 
    .comingheader{
        font-size: 40px;
        padding-top: 100px;
    }
    .come1{
        position: fixed;
        top: 200px;
        right: 270px;
    }
    .come2{
        display: none;
    }
    .come3{
        display: none;
    }
    .come4{
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .cominglogo{
        padding-bottom: 50px;
        padding-top: 10px;
        width: 80%;
        padding-left: 55px;
    }
    .comingwords{
        width: 100%;
    }
    .comingcopy{
        font-size: small;
        padding-left: 0px !important;
        text-align: center !important;
    }
    .comingmedia{
        font-size: small;
        justify-content: center;
        align-items: center;
    }
    .comingroup{
       width: 100% !important;
       padding-bottom: 100px !important;
    }
    .comingsubheader{
        font-size: 29px;
    } 
    .comingheader{
        font-size: 30px;
        padding-top: 100px;
    }
    .come1{
        width: 7%;
        position: absolute;
        left: 800px;
    }
    .come2{
        width: 7%;
        position: absolute;
        top: 20px;
        right: 100px;
    }
    .come3{
        width: 7%;
        position: absolute;
        top: 450px;
        left: 400px;
    }
    .come4{
        width: 7%;
        position: absolute;
        bottom: 250px;
        left: 50px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .cominglogo{
        padding-bottom: 50px;
        padding-top: 10px;
        width: 30%;
    }
    .comingbrand{
        width: 100% !important;
        height: 40vh !important;
    }
    .comingtext{
        padding-left: 40px !important;
        padding-top: 0px;
    }
    .comingcopy{
        font-size: small;
    }
    .comingmedia{
        font-size: small;
        padding-right: 40px;
    }
    .comingroup{
       width: 90% !important;
       padding-bottom: 50px !important;
    }
    .come1{
        width: 7%;
        position: absolute;
        left: 800px;
    }
    .come2{
        width: 7%;
        position: absolute;
        top: 20px;
        right: 100px;
    }
    .come3{
        width: 7%;
        position: absolute;
        top: 450px;
        left: 400px;
    }
    .come4{
        width: 7%;
        position: absolute;
        bottom: 250px;
        left: 50px;
    }
}
@media (min-width: 1200px) and (max-width: 1399px) {
    .comingcontainer{
        width: 80% !important;
        margin: auto;
    }
    .cominglogo{
        padding-bottom: 50px;
        padding-top: 10px;
        width: 30%;
    }
    .comingbrand{
        width: 80% !important;
        height: 70vh !important;
    }
    .comingtext{
        padding-top: 30px;
        justify-content: center;
        align-items: center;
    }
    .comingcopy{
        font-size: small;
    }
    .comingmedia{
        font-size: 18px;
    }
    .comingroup{
       width: 70% !important;
       padding-bottom: 100px !important;
    }
    .come1{
        width: 7%;
        position: absolute;
        left: 800px;
    }
    .come2{
        width: 7%;
        position: absolute;
        top: 220px;
        right: 100px;
    }
    .come3{
        width: 7%;
        position: absolute;
        top: 500px;
        left: 400px;
    }
    .come4{
        width: 7%;
        position: absolute;
        bottom: 250px;
        left: 50px;
    }
}
@media (min-width: 1400px) {
    .cominglogo{
        padding-bottom: 50px;
        padding-top: 10px;
        width: 20%;
    }
    .comingbrand{
        width: 80% !important;
        height: 70vh !important;
    }
    .comingtext{
        padding-top: 40px;
        justify-content: center;
    }
    .comingcopy{
        font-size: small;
    }
    .comingmedia{
        font-size: small;
    }
    .comingroup{
       width: 70% !important;
       padding-bottom: 100px !important;
    }
    .come1{
        width: 7%;
        position: absolute;
        left: 800px;
    }
    .come2{
        width: 7%;
        position: absolute;
        top: 220px;
        right: 100px;
    }
    .come3{
        width: 7%;
        position: absolute;
        top: 500px;
        left: 400px;
    }
    .come4{
        width: 7%;
        position: absolute;
        bottom: 250px;
        left: 50px;
    }
}